<a href="https://colab.research.google.com/github/erickbautista74/Insurance_Claims/blob/main/Insurance_Claims.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/insurance_claims.csv')

In [5]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        909 non-null    object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
 39  _c39                         0 non-null      float64
dtypes: float64(2), int64(17), object(21)
memory usage: 312.6+ KB

In [7]:
df.isnull().sum()

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted            91
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
_c39                           1000
dtype: int64

In [8]:
df['fraud_reported'].value_counts()

fraud_reported
N    753
Y    247
Name: count, dtype: int64

In [9]:
#df = df.drop(columns=['policy_number', 'insured_zip', 'incident_location','_c39'], errors="ignore")

In [10]:
df["fraud_reported"] = df["fraud_reported"].apply(lambda x: 1 if x == "Y" else 0)

In [11]:
print(df.isnull().sum())

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted            91
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
_c39                           1000
dtype: int64

In [12]:
df['authorities_contacted'].head(5)

0    Police
1    Police
2    Police
3    Police
4       NaN
Name: authorities_contacted, dtype: object

In [13]:
df['authorities_contacted'].fillna("Unknown", inplace=True)

<ipython-input-13-3aead1e3022d>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['authorities_contacted'].fillna("Unknown", inplace=True)

In [14]:
print(df.isnull().sum())

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
_c39                           1000
dtype: int64

In [15]:
df = df.drop(columns=["_c39"])

In [16]:
df["incident_date"] = pd.to_datetime(df["incident_date"])

In [17]:
df["incident_year"] = df["incident_date"].dt.year  # Year of the incident
df["incident_month"] = df["incident_date"].dt.month  # Month of the incident
df["incident_dayofweek"] = df["incident_date"].dt.dayofweek  # 0 = Monday, 6 = Sunday

In [18]:
df = df.drop(columns=["incident_date"])

In [19]:
df["policy_bind_date"] = pd.to_datetime(df["policy_bind_date"])

In [20]:
df["policy_bind_date_year"] = df["policy_bind_date"].dt.year  # Year of the incident
df["policy_bind_date_month"] = df["policy_bind_date"].dt.month  # Month of the incident
df["policy_bind_date_dayofweek"] = df["policy_bind_date"].dt.dayofweek  # 0 = Monday, 6 = Sunday

In [21]:
df = df.drop(columns=["policy_bind_date"])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_state                 1000 non-null   object
 4   policy_csl                   1000 non-null   object
 5   policy_deductable            1000 non-null   int64
 6   policy_annual_premium        1000 non-null   float64
 7   umbrella_limit               1000 non-null   int64
 8   insured_zip                  1000 non-null   int64
 9   insured_sex                  1000 non-null   object
 10  insured_education_level      1000 non-null   object
 11  insured_occupation           1000 non-null   object
 12  insured_hobbies              1000 non-null   object
 13  insured_relationship         1000 non-null   object
 14  capital-gains                1000 non-null   int64
 15  capital-loss                 1000 non-null   int64
 16  incident_type                1000 non-null   object
 17  collision_type               1000 non-null   object
 18  incident_severity            1000 non-null   object
 19  authorities_contacted        1000 non-null   object
 20  incident_state               1000 non-null   object
 21  incident_city                1000 non-null   object
 22  incident_location            1000 non-null   object
 23  incident_hour_of_the_day     1000 non-null   int64
 24  number_of_vehicles_involved  1000 non-null   int64
 25  property_damage              1000 non-null   object
 26  bodily_injuries              1000 non-null   int64
 27  witnesses                    1000 non-null   int64
 28  police_report_available      1000 non-null   object
 29  total_claim_amount           1000 non-null   int64
 30  injury_claim                 1000 non-null   int64
 31  property_claim               1000 non-null   int64
 32  vehicle_claim                1000 non-null   int64
 33  auto_make                    1000 non-null   object
 34  auto_model                   1000 non-null   object
 35  auto_year                    1000 non-null   int64
 36  fraud_reported               1000 non-null   int64
 37  incident_year                1000 non-null   int32
 38  incident_month               1000 non-null   int32
 39  incident_dayofweek           1000 non-null   int32
 40  policy_bind_date_year        1000 non-null   int32
 41  policy_bind_date_month       1000 non-null   int32
 42  policy_bind_date_dayofweek   1000 non-null   int32
dtypes: float64(1), int32(6), int64(18), object(18)
memory usage: 312.6+ KB

In [23]:
df = pd.get_dummies(df, drop_first=True)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Count fraud vs. non-fraud cases
fraud_counts = df["fraud_reported"].value_counts(normalize=True)

# Plot fraud distribution
plt.figure(figsize=(6, 4))
sns.countplot(x=df["fraud_reported"], palette="coolwarm")
plt.title("Fraud vs. Non-Fraud Cases")
plt.xticks(ticks=[0, 1], labels=["Non-Fraud", "Fraud"])
plt.show()

print(fraud_counts)

In [ ]:
plt.figure(figsize=(10, 8))
#numeric_df = df.select_dtypes(include=['number'])
sns.heatmap(df.corr(), linewidth=0.5, annot=True)
#sns.heatmap(numeric_df.corr(), annot=True, cmap="coolwarm", fmt=".2f")
plt.title("Feature Correlation Heatmap")
plt.show()

In [ ]:
#sns.pairplot(df);

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Define Features & Target
X = df.drop(columns=["fraud_reported"])
y = df["fraud_reported"]

# Split Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluate Model
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.725
              precision    recall  f1-score   support

           0       0.73      0.99      0.84       145
           1       0.50      0.02      0.04        55

    accuracy                           0.72       200
   macro avg       0.61      0.51      0.44       200
weighted avg       0.66      0.72      0.62       200

In [31]:
# Save the cleaned dataset
cleaned_file_path = "/content/drive/MyDrive/Colab Notebooks/Data/insurance_claims_cleaned.csv"  # Set your desired file name
df.to_csv(cleaned_file_path, index=False)

print(f"Cleaned dataset saved as: {cleaned_file_path}")

Cleaned dataset saved as: /content/drive/MyDrive/Colab Notebooks/Data/insurance_claims_cleaned.csv